<footer class="region">
    <div class="wrapper">
        <p>Om du hittar något som är fel, behöver förbättras eller bara har synpunkter på sidan får du gärna höra av
            dig. Antingen genom kontakt-sidan eller så skapar du en issue på <a
                href="https://github.com/jensadev/kursmaterial/issues">GitHub</a>.
        </p>
        <div class="footer-bottom">
            <p>&copy; Jens Andreasson 2025</p>
            <a href="/kontakt">Kontakt</a>
        </div>
    </div>
</footer>