{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-tomorrow.min.css" integrity="sha512-kSwGoyIkfz4+hMo5jkJngSByil9jxJPKbweYec/UgS+S1EgE45qm4Gea7Ks2oxQ7qiYyyZRn66A9df2lMtjIsw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block nav %}
    <nav class="wrapper region">
        {% include "search.njk" %}
        {% set navPages = collections.all | eleventyNavigation(course) %}
        {{ navPages | eleventyNavigationToHtml  | safe }}
    </nav>
{% endblock %}

{% block content %}
    <main class="wrapper">
        <article class="flow">
            {{ content | safe }}
        </article>
    </main>
{% endblock %}