{% extends "base.njk" %}

{% block nav %}
<nav class="wrapper region">
    {% include "search.njk" %}
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({ maxDepth: 1 }) | safe }}
</nav>
{% endblock %}

{% block content %}
<main class="wrapper">
    <article class="flow">
        {{ content | safe }}
    </article>
</main>
{% endblock %}