{% extends "base.njk" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-tomorrow.min.css"
    integrity="sha512-kSwGoyIkfz4+hMo5jkJngSByil9jxJPKbweYec/UgS+S1EgE45qm4Gea7Ks2oxQ7qiYyyZRn66A9df2lMtjIsw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block nav %}
{% include "nav.njk" %}
{% endblock %}

{% block content %}
<main class="wrapper region" id="main-content" tabindex="-1">
    <article class="flow">
        {% if title %}
        <h1>{{ title }}</h1>
        {% endif %}
        {% if toc != false %}
        {{ content | toc | safe }}
        {% endif %}
        {{ content | safe }}
    </article>
</main>
{% endblock %}