{% extends "base.njk" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-tomorrow.min.css"
    integrity="sha512-kSwGoyIkfz4+hMo5jkJngSByil9jxJPKbweYec/UgS+S1EgE45qm4Gea7Ks2oxQ7qiYyyZRn66A9df2lMtjIsw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block nav %}
<header class="region">
    <nav class="wrapper">
        {% include "search.njk" %}
        {% set navPages = collections.all | eleventyNavigation %}
        {% macro renderNavListItem(entry) -%}
        <li{% if entry.url==page.url %} class="my-active-class" {% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title | capitalize }}</a>
            {%- if entry.children.length -%}
            <ul class="nav-sub-list">
                {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
            </ul>
            {%- endif -%}
        </li>
        {%- endmacro %}
        
        <ul class="nav-list">
            {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
        </ul>
    </nav>
</header>
{% endblock %}

{% block content %}
<main class="wrapper region" id="main-content" tabindex="-1">
    <article class="flow">
        {{ content | toc | safe }}
        {{ content | safe }}
    </article>
</main>
{% endblock %}