@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: var(--color-dark);
        --color-fg: var(--color-light);
    }
}


body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-size: var(--step-1);
}

h1, h2, h3, h4 {
    --flow-space: 1.2em;
    font-family: var(--font-display);
    font-weight: 700;
    line-height: .9;
    letter-spacing: .1em;
}

p {
    line-height: 1.5;
    text-wrap: pretty;
}

a {
    color: var(--color-link, inherit);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

abbr {
    cursor: help;
    text-decoration-color: color-mix(in srgb, var(--color-fg) 80%, transparent);
}

::selection {
    background: var(--color-purple);
    color: var(--color-dark);
}

.webbserverprogrammering {
    --color-topic: var(--color-green);
}

.programmering {
    --color-topic: var(--color-blue);
}

.webbutveckling {
    --color-topic: var(--color-purple);
}