/* components.css: Buttons, forms, search-modal, skip-link, filename, nav-toc, navigation lists */

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

p a {
    color: var(--color-link, inherit);
}

.search-modal {
    position: relative;
}

.search-modal-results {
    position: absolute;
    color: fieldtext;
    background-color: field;
    width: 100%;
    border: 2px solid var(--color-fg);
    padding: var(--space-xs);
    border-radius: var(--border-radius, 0);
    z-index: 1000;
}

.search-modal-results li {
    display: block;
    width: 100%;
}

.search-modal-results li:hover:not(p) {
    text-decoration: none;
}

.search-modal-results li:focus {
    border-radius: 0;
}

form input,
form textarea {
    width: 100%;
    padding: var(--space-2xs);
    margin-top: var(--space-3xs-2xs);
    border-radius: var(--border-radius, 0);
}

form *:focus {
    color: var(--color-fg);
    outline-color: var(--color-secondary);
}

.filename {
    position: absolute;
    top: -.8em;
    left: .5em;
    background: var(--color-bg);
    color: var(--color-fg);
    border: 2px solid var(--color-fg);
    padding-inline: var(--space-3xs);
    font-size: var(--step--1);
    z-index: 2;
    pointer-events: none;
    font-family: monospace;
}

nav ul {
    list-style: none;
}

.nav-list {
    padding-left: 0;
}

.nav-list>li:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m)
}

.nav-sub-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-m);
}

.nav-sub-list>li {
    position: relative;
    color: var(--color-fg);
}

.nav-sub-list>li:hover {
    background-color: var(--color-fg);
    color: var(--color-bg);
}

.nav-sub-list>li>ul {
    display: none;
    position: absolute;
    left: 0;
    min-width: 12rem;
    background: #fff;
    padding: var(--space-xs);
    z-index: 100;
}

.nav-sub-list>li:hover>ul,
.nav-sub-list>li:focus-within>ul {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 2px solid var(--color-fg);
}

.nav-toc {
    border: 4px solid var(--color-fg);
    padding: var(--gutter);
    position: relative;
    font-family: var(--font-display);
    background-color: var(--color-red);
}

.nav-toc h2 {
    position: static;
}

@media screen and (min-width: 500px) {
    .nav-toc h2 {
        position: absolute;
        top: -0.55em;
    }
}

.skip-link:not(:focus) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}