/* utilities.css: Utility classes */

.hidden {
    display: none !important;
}

.sr-only {
    clip: rect(0 0 0 0);
    padding: 0;
    margin: -1;
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

p:has(.filename) {
    position: relative;
    margin-bottom: var(--space-xs);
}

p:has(.filename)+pre {
    margin-top: 0;
}

article>p>code {
    color: var(--color-bg);
    background-color: var(--color-fg);
    padding-inline: 0.1em;
}

